body{
    background-color: #FCE1FF;
}

.image-container {
  position: relative;
  display: inline-block; /* 画像のサイズにフィットさせる */
  width: 75%;           /* スマホ対応：画面に合わせて伸縮 */
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* 2. 透明な当たり判定（リンク） */
.white-btn {
  position: absolute;
  border-radius: 100%;
  
  /* 位置とサイズを「％」で指定する（ここがポイント！） */
  top: 87.8%;     /* 上から 20% の位置 */
  left: 86.4%;    /* 左から 30% の位置 */
  width: 1%;   /* ボタンの横幅を画像全体の 25% に */
  height: 2.5%;  /* ボタンの縦幅を画像全体の 40% に */
  
  /* 開発中は、以下の背景色をつけると位置調整がしやすいです */ 
  background-color: rgba(255, 0, 0);
}

.btn{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border-color: black;
    border-width: 5pt;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 90%;
}